@charset "UTF-8";

/*Configurações Gerais */

* {
    margin: 0px;
    padding: 0x;
    font-family: 'Times New Roman', Times, serif;
}

html, body {
    width: 100vh;
    height: 100vh;
    background-color: #253eff;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    text-shadow: 2px 2px 0px #1526a7;
    padding: 10px;
}